/Rosenfold_2013/*.fits
/Rosenfold_2013/*.inp
/Rosenfold_2013/*.dat
/Rosenfold_2013/*.npy
/Rosenfold_2013/*.out
/Isella_2016/*.fits
/Isella_2016/*.inp
/Isella_2016/*.dat
/Isella_2016/*.npy
/Isella_2016/*.out
/HD163296_CO_Line_Sim/*.fits
/HD163296_CO_Line_Sim/*.inp
/HD163296_CO_Line_Sim/*.dat
/HD163296_CO_Line_Sim/*.npy
/HD163296_CO_Line_Sim/*.out
